# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Publish Package

on:
  push:
    branches: [main]

# Using OIDC to avoid secrets/tokens for npm publishing
# https://docs.npmjs.com/trusted-publishers#step-2-configure-your-cicd-workflow
permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
      # update latest npm version since OIDC requires npm >= 11.5.1
      - run: npm install -g npm@latest
      - run: npm install
      - run: npm run build
      - run: npm publish
